.headline {
  background-color: #008dc9;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  color: white;
  padding-left: 20px;
}

.firstimg {
  width: 50%;
  height: auto;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 20px;
}

.list {
  list-style-type: decimal;
  border: 2px solid black;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
}

.go ul li {
  list-style-type: none;
  float: left;
  margin: 12px;
}
